.header {
  background: linear-gradient(45deg, #f3ec78, #af4261);
  text-align: center;
  padding: 20px;
  color: white;
  position: relative;
}

.trial {
  font-size: 24px;
  font-weight: bold;
}

.title {
  margin: 20px 0;
}

.admission {
  font-size: 18px;
  font-weight: bold;
}

.header-image {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
